@import url("https://use.typekit.net/jmk3xov.css");


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.start-button{
  position: absolute;
  font: 18px sans-serif;
  font-weight: bold;
  background-color: #434A54;
  bottom: 5em;
  right: 5em;
  border-radius: 25px;
  width: 6em;
  height: 2.5em;
  box-shadow: 0px 10px 20px 0px rgba(219, 8, 8, 0.19), 0px 6px 6px 0px rgba(148, 0, 0, 0.23);

}

#myProgress {
  position: absolute;
  top: 3em;
  right: 3em;
  width: 20%;
  background-color: grey;
  box-shadow: 0px 10px 20px 0px rgba(219, 8, 8, 0.19), 0px 6px 6px 0px rgba(148, 0, 0, 0.23);

}

#myBar {
  position: relative;
  width: 10%;
  height: 30px;
  background-color: #860516b2;
  font: 1em sans-serif;
  white-space: nowrap;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  text-indent: 10pt;
  color: white;
}

.sliders {
  margin-top: 5%;
  margin-left: 1%;
  width: 25%;;
  height: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr)
  
}
